{% extends 'Home/base.html' %}
{% load static %}
{% block content %}



    <body>
    <div class="preloader"></div>

    <section class="request-a-call-back pdt-80 pdb-70" data-background="img/bg/6.html">
        <div class="container">
            <div class="row">


                    <div class="col-lg-12">
                        <div class="faq-block">
                            <div class="accordion">
                                <div class="accordion-item">
                                    <div class="accordion-header active">
                                        <h5 class="title" style="text-align: center">Basariyla Kayit Oldunuz</h5>

                                    </div>


                                </div>

                            </div>
                        </div>
                    </div>



            </div>
        </div>
    </section>


    </body>



{% endblock %}