{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="author" content="Novaly">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Novaly Business Consulting HTML5 Template">
    <meta name="keywords" content=" Business, Consulting, Marketing, Agency, Creative, multipage, template"/>
    <title>Certificate</title>
    <link href="{% static 'images/c.png' %}" rel="shortcut icon" type="image/png">
    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <style>
        .Active {
            background: linear-gradient(-20deg, #0E90D5, #3032A2) !important;
            color: #fff !important;
            padding: 15px 30px 15px 30px !important;
            border-radius: 30px !important;
            text-decoration: none;
        }
    </style>
</head>


<header class="header-style-two">
    <div class="header-wrapper">
        <div class="header-top-area bg-gradient-color d-none d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 header-top-left-part">
                        <span class="address"><i class="webexflaticon flaticon-placeholder-1"></i>Havaalani Konaklar Trabzon</span>
                        <span class="phone"><i class="webexflaticon flaticon-send"></i> arafatemin@gmail.com</span>

                    </div>


                    <div class="col-lg-6 header-top-right-part text-right">
                        <ul class="social-links">
                            <li><a href="https://www.facebook.com/" target="_blank"><i
                                    class="fab fa-facebook-f"></i></a></li>
                            <li><a href="https://github.com/AERBATI-61" target="_blank"><i
                                    class="fab fa-github"></i></a></li>
                            <li><a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.linkedin.com/feed/" target="_blank"><i
                                    class="fab fa-linkedin-in"></i></a></li>


                        </ul>

                        <div class="language">


                        </div>
                    </div>


                </div>
            </div>
        </div>
        <div class="bt_blank_nav"></div>
        <div class="header-navigation-area two-layers-header header-middlee bt_stick bt_sticky">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <a class="navbar-brand logo f-left mrt-10 mrt-md-0" href="#">
                            <img id="logo-image" class="img-center" src="{% static 'images/certificat.jpg' %}" alt="">
                        </a>
                        <div class="mobile-menu-right"></div>
                        <div class="header-searchbox-style-two d-none d-xl-block">
                            <div class="side-panel side-panel-trigger text-right d-none d-lg-block">
                                <span class="bar1"></span>
                                <span class="bar2"></span>
                                <span class="bar3"></span>
                            </div>

                        </div>


                            <div class="main-menu f-right degistirecem">


                                <nav id="mobile-menu-right">
                                    <ul class="menu">
                                        <li><a href="{% url 'index' %}">Home</a></li>

                                        <li><a href="#">Tibabet&Saglamlik</a></li>
                                        <li><a href="{% url 'ruh' %}">Ruh&Uzuk</a></li>
                                        <li><a href="{% url 'aile' %}">Aile</a></li>
                                        <li><a href="{% url 'maarip' %}">Maarip</a></li>
                                        <li><a href="{% url 'contactView' %}">Contact Us</a></li>


{#                                        <li class=" right-view">#}
{#                                            <a href="#">Maarip</a>#}
{#                                            <ul class="sub-menu" style="border-radius: 35px">#}
{#                                                {% for category in categories %}#}
{#                                                    <li ><a href="{% url 'maarip_view_with_category' category.slug %}">{{ category.maaripCategory}}</a></li>#}
{#                                                {% endfor %}#}
{##}
{#                                            </ul>#}
{#                                        </li>#}


                                    </ul>
                                </nav>

                            </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>






{% block content %}

{% endblock %}




<footer class="footer">
    <div class="footer-main-area" data-background="images/footer-bg.png">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-6">
                    <div class="widget footer-widget">


                        <a class="mrb-20" href="#">

                            <img width="40" height="40" id="logo-image" class="img-center"
                                 src="{% static 'images/certificat.jpg' %}" alt="">
                        </a><br> <br>
                        <address class="mrb-25">
                            <p class="text-light-gray">Havaalani konaklar Trabzon</p>

                            <div class="mrb-10"><a href="#" class="text-light-gray"><i
                                    class="fas fa-phone-alt mrr-10"></i>+5380514510</a></div>

                            <div class="mrb-10"><a href="#" class="text-light-gray"><i
                                    class="fas fa-envelope mrr-10"></i>arafatemin@gmail.com</a></div>
                            <div class="mrb-0"><a href="#" class="text-light-gray"><i class="fas fa-globe mrr-10"></i>www.certificate.com</a>
                            </div>
                        </address>


                    </div>

                </div>


                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="widget footer-widget ">
                        <div>
                            <h5 class="widget-title text-white mrb-30">Useful Links</h5>
                            <ul class="footer-widget-list">
                                <li><a href="#">Home</a></li>

                                <li><a href="#">Organization</a></li>
                                <li><a href="#">Activities</a></li>
                                <li><a href="#">Hosts</a></li>
                                <li><a href="#">Participant</a></li>

                                <li><a href="#">Certificate</a></li>


                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="widget footer-widget">
                        <h5 class="widget-title text-white mrb-30">Join Us</h5>
                        <p class="text-light-gray mb-1">Seamlessly visualize quality intellectual capital without.</p>
                        {#                        <form action="{% url 'contactview' %}" method="post">#}
                        <form action="#" method="post">
                            {% csrf_token %}
                            <div class="col-lg-12">
                                <div>
                                    <input type="email" name="email" required placeholder="Email"
                                           class="form-control">

                                </div>
                            </div>
                            <div class="col-lg-12 ">
                                <div class=" mrb-0">
                                    <button type="submit"
                                            class="cs-btn-one btn-gradient-color btn-sm has-icon mrt-20 btn-block"><i
                                            class="webexflaticon flaticon-send"></i>
                                        Send Post
                                    </button>
                                </div>
                            </div>
                            {#							    <a href="#" class="cs-btn-one btn-gradient-color btn-sm has-icon mrt-20"><i class="webexflaticon flaticon-send"></i>Submit Now</a>#}
                        </form>
                    </div>
                </div>


            </div>

        </div>
    </div>
    </div>
    </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="text-center">
                        <span class="text-light-gray">Certificate © 2022 by <a class="text-primary-color"
                                                                               target="_blank"
                                                                               href="https://www.ktu.edu.tr/">KTU</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>


<div class="back-to-top bg-gradient-color">
    <i class="fab fa-angle-up"></i>
</div>


<script src="{% static 'js/jq.js' %}"></script>


<script src="{% static 'js/jquery.v1.12.4.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery-core-plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>